
</div>
  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Страница списка новостей</h1>
          <h2>Наши рейтинги: </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container w">
    <div class="row centered">
      <div class="col-lg-4">
        <i class="fa fa-heart"></i>
        <p><script> $(document).ready(function(){alert('Ваша версия jQuery ' + jQuery.fn.jquery);});
        </script></p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-keyboard-o" aria-hidden="true"></i>
        <p> </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-reply" aria-hidden="true"></i>
        <p> </p>
        </p>
      </div>
    </div>
  </div>

  <div class="container wb">
    <div class="row centered">
      <br><br>
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Список новостей</h4>
        <table >
          <tr>
             <td>ID поста</td>
            <td>Дата создания</td>
            <td>Статья/Новость</td>
            <td>Автор</td>
            <td>Рэйтинг поста</td>
            <td>Заголовок</td>
          </tr>
              {% for post_n in newslist %}
          <tr>
            <td>{{ post_n.pk }}</td>
            <td>{{ post_n.dataCreations }}</td>
            <td>{{ post_n.categoryType }}</td>
            <td>{{ post_n.author }}</td>
            <td>{{ post_n.rating }}</td>
            <td class="leftAligned"><a href=../post/{{ post_n.pk }}>{{ post_n.title }}</a></td>
            </tr>
              {% endfor %}
        </table>
        <p><br><br></p>
      </div>
  </div>
{%if page_obj.has_previous %} {# whether the previous page exists #}
    <a href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
{% endif %}
<span>{{page_obj.number}}</span> {# the current page number #}
{%if page_obj.has_next %} {# whether the next page exists #}
    <a href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
{% endif %}


{% endblock %}